.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.o
*.elf
*.cf
*.wpc
*.lpr
*.xpr
*.vcd
*.jou
*.log
*.str

PFPGA1.cache/
PFPGA1.hw/
PFPGA1.ip_user_files/
PFPGA1.sim/
PFPGA1.runs/
PFPGA1.srcs/